body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 2rem;
    min-height: 100vh;
}

main {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px 60px;
    width: 80%;
}
.section {
    margin: 16px 0;
}
.card {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    margin: 8px 8px;
}
.medical-section{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 16px;
}
.examination-section {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: stretch; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1rem;
    
}